* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "your-font";
    src: url(./font/futurak.ttf);
}
body {
    background-color: black;
}

/* Nav-Section-Start */

.nav-container {
    background-color: black;
    color: white;
    width: 1520px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 180px;
}

.nav-logo {
    margin-left: 190px;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    color: white;
    list-style-type: none;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-right: 90px;
}

.btn-1 {
    border-radius: 50px;
    padding: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

.btn-1 a{
    color: white;
    text-decoration: none;
}

.btn-2 {
    border-radius: 50px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

.btn-2 a{
    color: white;
    text-decoration: none;
}

.btn i {
    font-size: 19px;
    font-weight: bolder;
    background-color: white;
    color: red;
    border-radius: 50px;
    padding: 6px;
}

/* Nav-Section-End */

/* Hero-Section-start */

.hero-section {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/eedback-hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0px;
}

.hero-section h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 18%;
    font-family: "your-font";
    padding-bottom: 5px;
}

.hero-section h1 {
    font-size: 98px;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section h5 {
    color: white;
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Form-Section-Start */

.form-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
}

.left-content {
    width: 50vw;
    height: 180vh;
    border-right: 1px solid white;
    padding-left: 50px;
    margin-left: 40px;
    margin-right: 30px;

}

.left-content p {
    font-size: 18px;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.star-cont-1 {
    display: flex;
    gap: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.input-1 {
    width: 600px;
    margin-bottom: 20px;
}

textarea {
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
}

.submit-btn {
    color: white;
    background-color: red;
    border: 1px solid white;
    padding: 7px;
    font-size: 17px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.line1 h3 {
    font-size: 24px;
    margin-top: 30px;
}

.line1 i {
    font-size: 22px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 7px;
}

/* Right-Side-Content-Satrt */

.right-content {
    width: 50vw;
    height: 180vh;
}

.right-content h2 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-left: 180px;
}

.right-content p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 40px;
}

.right-content h1 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-left: 320px;
    margin-bottom: 40px;
}

iframe {
    margin-left: 100px;
}

.para-p {
    text-align: center;
}

/* Right-Side-Content-End */

/* Footer-Start */

footer {
    width: 100vw;
    height: 80vh;
    margin-top: 44%;
    background-color: rgb(21, 21, 21);
    padding-top: 30px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 80px;
    gap: 40px;
}

.col {
    width: 25vw;
    height: 60vh;

}

.col h4 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.col a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col li {
    text-decoration: none;
    list-style-type: none;
}

.col-last {
    width: 25vw;
    height: 70vh;
}

.col-last h4 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.p-footer {
    color: grey;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-foot {
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma,
        Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.social-links a {
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
}

.links-img1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Last-Footer-Start */

.last-footer {
    background-color: black;
    color: grey;
    text-align: center;
    border-top: 1px solid grey;
    width: 100vw;
    height: 6vh;
}

.last-footer p {
    font-size: 18px;
    margin-top: 30px;
}

/* Last-Footer-End */

/* Footer-Section-End */